/* My custom tweaks */

#github-logo {
    background-image:url("../images/github42.png");
		background-position:5px 5px;
    background-repeat:no-repeat;
    display:inline-block;
    height:50px;
		overflow:hidden;
		padding:5px;
    text-indent:100%;
    white-space:nowrap;
		width:50px;
}

#linkedin-logo {
    background-image:url("../images/linkedin42.png");
		background-position:5px 5px;
    background-repeat:no-repeat;
    display:inline-block;
    height:50px;
		overflow:hidden;
		padding:5px;
    text-indent:100%;
    white-space:nowrap;
		width:50px;
}

#rss-logo {
    background-image:url("../images/rss42.png");
		background-position:5px 5px;
    background-repeat:no-repeat;
    display:inline-block;
    height:50px;
		overflow:hidden;
		padding:5px;
    text-indent:100%;
    white-space:nowrap;
		width:50px;
}

.tag-box {
    padding: 4px 0;
    margin: 0;
    overflow: hidden;
    list-style: none;
    *zoom: 1;
}

.tag-box:after,.tag-box:before {
    display: table;
    line-height: 0;
    content: "";
}

.tag-box:after {
    clear: both;
}

.tag-box.inline li {
    float: left;
    font-size: 14px;
    line-height: 2.5;
}

.tag-box a {
		background-color: #e6e6e6;
    padding: 4px 6px;
    margin: 2px;
    text-decoration: none;
    border: 0.0625rem solid black;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.tag-box a span {
    font-size: 10px;
    vertical-align: super;
    color: black;
}
