---
layout: default
---

<div class="post">
  <div class="post-info">
    {% if page.date %}
      <br>
      <time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

  {{ content }}

</div>

<div class="tags">
  {% for item in (0..page.tags.size) %}{% unless forloop.last %}
    {% capture this_word %}{{ page.tags[item] | strip_newlines }}{% endcapture %}
    <a href="{{ '/categories#' | prepend: site.url }}{{ this_word }}/" class="top"> {{ this_word }} </a>
  {% endunless %}{% endfor %}
</div>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.url }}" class="arrow left"></a>
  {% endif %}

  <a href="#" class="top">Top</a>

  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.url }}" class="arrow right"></a>
  {% endif %}
</div>
